.custom-body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.slider-container {
    width: 80%;
    max-width: 600px;
}

.slider {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity .15s ease-in-out;
    border-radius: 10px;
    margin-top: 10px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #da9b31;
    cursor: pointer;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #da9b31;
    cursor: pointer;
    border-radius: 50%;
}

.month-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.month-labels span {
    flex: 1;
    text-align: center;
    font-size: 12px;
    color: #666;
}

.value-slider {
    margin-left: 5px;
}

.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.month-image {
    margin: 10px;
    display: none;
}